<!--<app-diretiva-ngif></app-diretiva-ngif>

<app-diretivas-ngswitch></app-diretivas-ngswitch>

<app-diretiva-ngfor></app-diretiva-ngfor>

<app-diretiva-ngclass></app-diretiva-ngclass>
<app-diretiva-ngstyle></app-diretiva-ngstyle>

<app-operador-elvis></app-operador-elvis>

<app-exemplo-ng-content>
    Conteúdo passado para o componente.
    <app-operador-elvis></app-operador-elvis>
</app-exemplo-ng-content>

<app-exemplo-ng-content>
    <div class="titulo">Titulo do painel</div>
    <div class="corpo">
        Conteúdo passado para o componente.
    </div>  
    
</app-exemplo-ng-content>-->
<app-diretivas-costumizadas>
    
</app-diretivas-costumizadas>
